{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@server": "./server"
            }
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@server": "./"
            }
          }
        ],
        "transform-async-to-generator"
      ]
    },
    "production": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@server": "./app/server"
            }
          }
        ],
        "transform-async-to-generator"
      ]
    }
  }
}
