@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
    url($file-name + '.woff') format('woff'),
    url($file-name + '.ttf')  format('truetype'),
    url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Apercu', 'fonts/Apercu-Bold', 700);
@include font-face('Apercu', 'fonts/Apercu-Light', 300);
@include font-face('Apercu', 'fonts/Apercu-Regular');

.homePage {
  display: flex;
  align-items: center;
  height: 90vh;

  .ho {
    display: flex;
    width:  80%;
    justify-content: space-between;
    margin: 0 auto;

    .contentContainer {

      h1 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 31px;
      }

      p {
        font-size: 15px;
        font-weight: light;
        line-height: 24px;
        margin-bottom: 36px;
      }

      select {
        border: #33176E solid 2px;
        border-radius: 10px;
        width: 183px;
        height: 50px;
        margin-right: 20px;
        font-weight: bold;
        padding-left: 17px;
      }

      .startButton {
        width: 118px;
        height: 50px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: bold;
      }
    }

    .imgContainer {
      img {
        width:554px;
        height:492px;
      }
    }
  }
}
