$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name) !important;
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
    url($file-name + '.woff') format('woff'),
    url($file-name + '.ttf')  format('truetype'),
    url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Apercu', 'fonts/Apercu-Bold', 700);
@include font-face('Apercu', 'fonts/Apercu-Light', 300);
@include font-face('Apercu', 'fonts/Apercu-Regular');

body {
  font: 100% $font-stack;
  color: $primary-color;
}
