.mealsPage {
  height: 90vh;
  width: 94vw;
  margin: auto;
  transform: translateY(1.5vw); }

.mealsPage .closeModal {
  width: 32px;
  height: 32px;
  float: right;
  margin-top: 40px;
  margin-right: 44px; }

.mealsPage .modalContainer {
  height: 100%;
  width: 100%;
  display: flex; }

.mealsPage .modalContainer .searchContainer {
  width: 50%;
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
  align-items: center; }

.mealsPage .modalContainer .searchContainer .modalContent {
  width: 469px;
  height: 80%;
  margin: 0 auto;
  overflow: scroll; }

.mealsPage .modalContainer .searchContainer .modalContent .searchBar {
  width: 90%;
  height: 50px;
  border: 2px solid #33176E;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold; }

.mealsPage .modalContainer .searchContainer .modalContent .foodItemContainer {
  display: flex;
  width: 90%;
  justify-content: space-between; }

.mealsPage .modalContainer .searchContainer .modalContent .foodItemContainer .foodItemContent {
  display: flex; }

.mealsPage .modalContainer .searchContainer .modalContent .foodItemContainer .foodItemContent .operations {
  align-self: flex-end;
  height: 25px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold; }

.mealsPage .modalContainer .searchContainer .modalContent .addFood {
  width: 65px;
  height: 34px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  align-self: center; }

.mealsPage .modalContainer .searchContainer .modalContent .line {
  width: 90%;
  height: 1px;
  background-color: #33176E; }

.mealsPage .modalContainer .summaryContainer {
  width: 50%;
  height: 100%;
  background-color: white; }
