@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src: url($file-name + '.eot');
      src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
      url($file-name + '.woff') format('woff'),
      url($file-name + '.ttf')  format('truetype'),
      url($file-name + '.svg##{$font-name}')  format('svg');
      font-weight: $weight;
      font-style: $style;
    }
  }
  
  @include font-face('Apercu', 'fonts/Apercu-Bold', 700);
  @include font-face('Apercu', 'fonts/Apercu-Light', 300);
  @include font-face('Apercu', 'fonts/Apercu-Regular');
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    position: relative;
    z-index: 100;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .app {
    padding: calc(45px + 40px) calc(50px + 35px);
    background-color: #FBFBFB;
    position: relative;
  
    &__top {
      position: absolute;
      top: 0; right: 0; left: 0;
      background-color: #FFF;
      height: 50px;
      width: 100%;
    }
  
    &__right {
      position: absolute;
      top: 0; right: 0; bottom: 0;
      background-color: #FFF;
      height: 100%;
      width: 50px;
    }
  
    &__bottom {
      position: absolute;
      right: 0; left: 0; bottom: 0;
      background-color: #FFF;
      height: 50px;
      width: 100%;
    }
  
    &__left {
      position: absolute;
      top: 0; bottom: 0; left: 0;
      background-color: #FFF;
      height: 100%;
      width: 50px;
    }
  
    &__logo {
      position: absolute;
      top: 0; left: 0;
    }
  
    &__container {
      padding-top: 30px;
      display: flex;
      > * {
        &:first-child {
          flex: 15%;
        }
        &:last-child {
          flex: 85%;
        }
      }
    }
  
    &__sidebar {
      margin-top: 35px;
      text-align: center;
      margin-right: 10px;
      &__title {
        text-align: center;
        font-family: 'Apercu', sans-serif;
        color: #33176E;
        font-size: 18px;
        letter-spacing: 0;
        font-weight: 300;
        margin-top: 20px;
      }
      &__content {
        margin-top: 40px;
        &__block {
          text-align: left;
          background-color: #FFF;
          border-radius: 10px;
          border: 2px solid #F6F6F6;
          padding: 13px 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:hover {
            cursor: pointer;
          }
          &:not(:first-child) {
            margin-top: 15px;
          }
          p {
            font-family: 'Apercu', sans-serif;
            color: #33176E;
            font-size: 15px;
            letter-spacing: 0;
            font-weight: 700;
          }
          &__add {
            margin-bottom: -3px;
          }
          &__checked {
            margin-bottom: -3px;
            margin-left: 2px;
          }
          &__edit {
            margin-bottom: -1px;
          }
        }
      }
    }
  
    &__content {
      margin-left: 10px;
      margin-top: -20px;
      &__title {
        font-family: 'Apercu', sans-serif;
        color: #928AA4;
        font-size: 35px;
        letter-spacing: 0;
        font-weight: 700;
        margin-bottom: 15px;
        &--md {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
      &__block {
        background-color: #FFF;
        padding: 50px 35px;
        border-radius: 5px;
        box-shadow: 0 6px 13px 0 rgba(21,33,56,0.05);
        position: relative;
        &__svg__rectangle {
          position: absolute;
          top: -25px;
          right: -20px;
          z-index: -1;
        }
        &__svg__special-rectangle {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(-40%, 40%);
          z-index: -1;
        }
        &__svg__half-circle {
          top: -35px;
          left: 40%;
          transform: translateX(-50%);
          position: absolute;
          z-index: -1;
        }
        &__svg__oval {
          position: absolute;
          z-index: -1;
          &--left {
            left: 0;
            bottom: 30px;
            transform: translateX(-50%);
          }
          &--right {
            right: -30px;
            bottom: 70px;
          }
        }
      }
  
      &__blocks {
        display: grid;
        margin-top: 70px;
        position: relative;
        &--three {
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 30px;
        }
        .app__content__block {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
        .app__content__title {
          position: absolute;
          top: -30px;
        }
      }
      .app__content__block__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        padding: 50px 35px 70px 35px;
        border-radius: 5px;
        box-shadow: 0 6px 13px 0 rgba(21, 33, 56, 0.05);
        position: relative;
      }
      .app__content__block__flex__left {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 270px;
        justify-content: space-around;
        &__detail {
          margin: 30px 0px 0px 20px;
          font-family: Apercu;
        }
      }

      .app__content__block__flex__component {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .app__content__block__flex__right {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 270px;
        justify-content: space-around;
        &__detail {
          margin: 30px 20px 0px 0px;
          font-family: Apercu;
        }
      }

      .app__content__block__flex__middle {
      }
  
      .app__content__block__text__origin {
        text-transform: uppercase;
        font-family: 'Apercu', sans-serif;
        color: #33176E;
        font-size: 25px;
        letter-spacing: 0;
        font-weight: 700;
        text-align: center;
        margin-right: 20px;
      }
  
      &__block--packaging {
        &__circle {
          width: 12px;
          height: 12px;
          border-radius: 100%;
          margin-right: 10px;
        }
        &__content {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: auto;
          &__column {
            > div {
              display: flex;
              align-items: center;
            }
            &:first-child {
              > div {
                &:first-child {
                  .app__content__block--packaging__circle {
                    background-color: #F2F5F7;
                  }
                }
                &:nth-child(2) {
                  .app__content__block--packaging__circle {
                    background-color: #C2D1D9;
                  }
                }
              }
            } 
            &:nth-child(2) {
              > div {
                &:first-child {
                  .app__content__block--packaging__circle {
                    background-color: #424B5A;
                  }
                }
                &:nth-child(2) {
                  .app__content__block--packaging__circle {
                    background-color: #A8C8D8;
                  }
                }
              }
            }
            > div {
              &:not(:first-child) {
                margin-top: 10px;
              }
            }
            p {
              color: #33176E;
              font-family: 'Apercu', sans-serif;
              font-weight: 300;
              letter-spacing: 0;
              font-size: 15px;
              strong {
                font-weight: 700;
              }
            }
          }
        }
      }
  
      &__substitute-products {
        margin-top: 35px;
        .app__content__blocks {
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 45px;
          margin-top: 0;
        }
        .app__content__substitute-products__content__title {
          text-transform: uppercase;
          color: #928AA4;
          font-size: 20px;
          font-weight: 400;
          font-family: 'Apercu', sans-serif;
          margin-bottom: 20px;
        }
        &__content:not(.app__content__substitute-products__content--reverse) {
          .app__content__substitute-products__block {
            display: flex;
            align-items: center;
            &:hover {
              cursor: pointer;
            }
            &:not(:first-child) {
              margin-top: 10px;
            }
            > div:first-child {
              background-color: #FFF;
              border-radius: 5px;
              padding: 8px 15px;
              background: #FFFFFF;
              box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.12);
              width: 100%;
              strong {
                font-weight: 700;
                font-size: 15px;
                margin-bottom: 5px;
                display: block;
              }
              p {
                font-size: 13px;
                font-weight: 300;
              }
              p,
              strong {
                font-family: 'Apercu', sans-serif;
                color: #33176E;
                letter-spacing: 0;
              }
            }
            &__check {
              margin-left: 20px;
              &:not(.is-checked) {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: 3px solid #DDDDDD;
              }
            }
          }
        }
        &__content--reverse {
          .app__content__substitute-products__content__title {
            margin-left: 40px;
          }
          .app__content__substitute-products__block {
            display: flex;
            align-items: center;
            &:hover {
              cursor: pointer;
            }
            &:not(:first-child) {
              margin-top: 10px;
            }
            > div:last-child {
              background-color: #FFF;
              border-radius: 5px;
              padding: 8px 15px;
              background: #FFFFFF;
              box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.12);
              width: 100%;
              strong {
                font-weight: 700;
                font-size: 15px;
                margin-bottom: 5px;
                display: block;
              }
              p {
                font-size: 13px;
                font-weight: 300;
              }
              p,
              strong {
                font-family: 'Apercu', sans-serif;
                color: #33176E;
                letter-spacing: 0;
              }
            }
            &__check {
              margin-right: 20px;
              &:not(.is-checked) {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: 3px solid #DDDDDD;
              }
            }
          }
        }
        &__block__check {
          display: flex;
          align-items: center;
        }
      }
  
      &__block__button {
        background-color: #D9C5F4;
        border-radius: 10px;
        font-size: 13px;
        letter-spacing: 0;
        color: #33176E;
        font-family: 'Apercu', sans-serif;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 20px 30px;
        display: block;
        margin-top: 60px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
  
    }
  
  }