@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu-Bold.eot");
  src: url("fonts/Apercu-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Apercu-Bold.woff") format("woff"), url("fonts/Apercu-Bold.ttf") format("truetype"), url("fonts/Apercu-Bold.svg#Apercu") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu-Light.eot");
  src: url("fonts/Apercu-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Apercu-Light.woff") format("woff"), url("fonts/Apercu-Light.ttf") format("truetype"), url("fonts/Apercu-Light.svg#Apercu") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu-Regular.eot");
  src: url("fonts/Apercu-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Apercu-Regular.woff") format("woff"), url("fonts/Apercu-Regular.ttf") format("truetype"), url("fonts/Apercu-Regular.svg#Apercu") format("svg");
  font-weight: normal;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 100; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.app {
  padding: calc(50px + 40px) calc(50px + 35px);
  background-color: #FBFBFB;
  z-index: -1;
  position: relative; }
  .app__top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #FFF;
    height: 50px;
    width: 100%; }
  .app__right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    height: 100%;
    width: 50px; }
  .app__bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    height: 50px;
    width: 100%; }
  .app__left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    height: 100%;
    width: 50px; }
  .app__logo {
    position: absolute;
    top: 0;
    left: 0; }
  .app__container {
    padding-top: 30px;
    display: flex; }
    .app__container > *:first-child {
      flex: 15%; }
    .app__container > *:last-child {
      flex: 85%; }
  .app__sidebar {
    margin-top: 35px;
    text-align: center;
    margin-right: 10px; }
    .app__sidebar__title {
      text-align: center;
      font-family: 'Apercu', sans-serif;
      color: #33176E;
      font-size: 18px;
      letter-spacing: 0;
      font-weight: 300;
      margin-top: 20px; }
    .app__sidebar__content {
      margin-top: 40px; }
      .app__sidebar__content__block {
        text-align: left;
        background-color: #FFF;
        border-radius: 10px;
        border: 2px solid #F6F6F6;
        padding: 13px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .app__sidebar__content__block:hover {
          cursor: pointer; }
        .app__sidebar__content__block:not(:first-child) {
          margin-top: 15px; }
        .app__sidebar__content__block p {
          font-family: 'Apercu', sans-serif;
          color: #33176E;
          font-size: 15px;
          letter-spacing: 0;
          font-weight: 700; }
        .app__sidebar__content__block__add {
          margin-bottom: -3px; }
        .app__sidebar__content__block__checked {
          margin-bottom: -3px;
          margin-left: 2px; }
        .app__sidebar__content__block__edit {
          margin-bottom: -1px; }
  .app__content {
    margin-left: 10px;
    margin-top: -20px; }
    .app__content__title {
      font-family: 'Apercu', sans-serif;
      color: #928AA4;
      font-size: 35px;
      letter-spacing: 0;
      font-weight: 700;
      margin-bottom: 15px; }
      .app__content__title--md {
        font-size: 20px;
        margin-bottom: 10px; }
    .app__content__block {
      background-color: #FFF;
      padding: 50px 35px;
      border-radius: 5px;
      box-shadow: 0 6px 13px 0 rgba(21, 33, 56, 0.05);
      position: relative; }
      .app__content__block__svg__rectangle {
        position: absolute;
        top: -25px;
        right: -20px;
        z-index: -1; }
      .app__content__block__svg__special-rectangle {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-40%, 40%);
        z-index: -1; }
      .app__content__block__svg__half-circle {
        top: -35px;
        left: 40%;
        transform: translateX(-50%);
        position: absolute;
        z-index: -1; }
      .app__content__block__svg__oval {
        position: absolute;
        z-index: -1; }
        .app__content__block__svg__oval--left {
          left: 0;
          bottom: 30px;
          transform: translateX(-50%); }
        .app__content__block__svg__oval--right {
          right: -30px;
          bottom: 70px; }
    .app__content__blocks {
      display: grid;
      margin-top: 70px;
      position: relative; }
      .app__content__blocks--three {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px; }
      .app__content__blocks .app__content__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; }
      .app__content__blocks .app__content__title {
        position: absolute;
        top: -30px; }
    .app__content .app__content__block__flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #FFF;
      padding: 50px 35px;
      border-radius: 5px;
      box-shadow: 0 6px 13px 0 rgba(21, 33, 56, 0.05);
      position: relative; }
    .app__content .app__content__block__flex__left {
      display: flex;
      flex-direction: column; }
    .app__content .app__content__block__flex__component {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .app__content .app__content__block__flex__right {
      display: flex;
      flex-direction: column; }
    .app__content .app__content__block__text__origin {
      text-transform: uppercase;
      font-family: 'Apercu', sans-serif;
      color: #33176E;
      font-size: 25px;
      letter-spacing: 0;
      font-weight: 700;
      text-align: center;
      margin-right: 20px; }
    .app__content__block--packaging__circle {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      margin-right: 10px; }
    .app__content__block--packaging__content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: auto; }
      .app__content__block--packaging__content__column > div {
        display: flex;
        align-items: center; }
      .app__content__block--packaging__content__column:first-child > div:first-child .app__content__block--packaging__circle {
        background-color: #F2F5F7; }
      .app__content__block--packaging__content__column:first-child > div:nth-child(2) .app__content__block--packaging__circle {
        background-color: #C2D1D9; }
      .app__content__block--packaging__content__column:nth-child(2) > div:first-child .app__content__block--packaging__circle {
        background-color: #424B5A; }
      .app__content__block--packaging__content__column:nth-child(2) > div:nth-child(2) .app__content__block--packaging__circle {
        background-color: #A8C8D8; }
      .app__content__block--packaging__content__column > div:not(:first-child) {
        margin-top: 10px; }
      .app__content__block--packaging__content__column p {
        color: #33176E;
        font-family: 'Apercu', sans-serif;
        font-weight: 300;
        letter-spacing: 0;
        font-size: 15px; }
        .app__content__block--packaging__content__column p strong {
          font-weight: 700; }
    .app__content__substitute-products {
      margin-top: 35px; }
      .app__content__substitute-products .app__content__blocks {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 45px;
        margin-top: 0; }
      .app__content__substitute-products .app__content__substitute-products__content__title {
        text-transform: uppercase;
        color: #928AA4;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Apercu', sans-serif;
        margin-bottom: 20px; }
      .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block {
        display: flex;
        align-items: center; }
        .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block:hover {
          cursor: pointer; }
        .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block:not(:first-child) {
          margin-top: 10px; }
        .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block > div:first-child {
          background-color: #FFF;
          border-radius: 5px;
          padding: 8px 15px;
          background: #FFFFFF;
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.12);
          width: 100%; }
          .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block > div:first-child strong {
            font-weight: 700;
            font-size: 15px;
            margin-bottom: 5px;
            display: block; }
          .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block > div:first-child p {
            font-size: 13px;
            font-weight: 300; }
          .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block > div:first-child p,
          .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block > div:first-child strong {
            font-family: 'Apercu', sans-serif;
            color: #33176E;
            letter-spacing: 0; }
        .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block__check {
          margin-left: 20px; }
          .app__content__substitute-products__content:not(.app__content__substitute-products__content--reverse) .app__content__substitute-products__block__check:not(.is-checked) {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 3px solid #DDDDDD; }
      .app__content__substitute-products__content--reverse .app__content__substitute-products__content__title {
        margin-left: 40px; }
      .app__content__substitute-products__content--reverse .app__content__substitute-products__block {
        display: flex;
        align-items: center; }
        .app__content__substitute-products__content--reverse .app__content__substitute-products__block:hover {
          cursor: pointer; }
        .app__content__substitute-products__content--reverse .app__content__substitute-products__block:not(:first-child) {
          margin-top: 10px; }
        .app__content__substitute-products__content--reverse .app__content__substitute-products__block > div:last-child {
          background-color: #FFF;
          border-radius: 5px;
          padding: 8px 15px;
          background: #FFFFFF;
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.12);
          width: 100%; }
          .app__content__substitute-products__content--reverse .app__content__substitute-products__block > div:last-child strong {
            font-weight: 700;
            font-size: 15px;
            margin-bottom: 5px;
            display: block; }
          .app__content__substitute-products__content--reverse .app__content__substitute-products__block > div:last-child p {
            font-size: 13px;
            font-weight: 300; }
          .app__content__substitute-products__content--reverse .app__content__substitute-products__block > div:last-child p,
          .app__content__substitute-products__content--reverse .app__content__substitute-products__block > div:last-child strong {
            font-family: 'Apercu', sans-serif;
            color: #33176E;
            letter-spacing: 0; }
        .app__content__substitute-products__content--reverse .app__content__substitute-products__block__check {
          margin-right: 20px; }
          .app__content__substitute-products__content--reverse .app__content__substitute-products__block__check:not(.is-checked) {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 3px solid #DDDDDD; }
      .app__content__substitute-products__block__check {
        display: flex;
        align-items: center; }
    .app__content__block__button {
      background-color: #D9C5F4;
      border-radius: 10px;
      font-size: 13px;
      letter-spacing: 0;
      color: #33176E;
      font-family: 'Apercu', sans-serif;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      padding: 20px 30px;
      display: block;
      margin-top: 60px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto; }
